:root {
    --primary-color: #2E4053;
    --secondary-color: #34495E;
    --accent-color: #CCCCFF;
    --highlight-color: #8BC34A;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--secondary-color)
}

a {
    color: var(--accent-color);
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    max-width: fit-content; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
  }

.sidenav > a {
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    background-color: var(--primary-color);
}

.sidenav :hover {
    background-color: var(--secondary-color);
}

main {
    margin-left: 60px;
    padding: 20px
}

h1, h2 {
    color: var(--accent-color);
    margin-bottom: 10px;
}

#aboutme {
    color: var(--accent-color);
    background-color: var(--primary-color);
    margin: 20px 0px 20px 0px;
    padding: 20px;
    border-radius: 10px;
}

.technology-icon-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.project-link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px;
}

.project-div:hover {
    background-color: var(--primary-color);
}

.project-div > a {
    text-decoration: none;
}

.project-div > a > img {
    max-width: 350px;
}

.project-description-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width: 300px;
}

.project-description-div > p {
    margin-bottom: 5px;
}

.technology {
    background-color: var(--accent-color);
    max-width: fit-content;
    color: var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.technology :hover {
    background-color: var(--accent-color)
}

@media screen and (max-width: 540px) {
    .sidenav {
        padding-top: 15px;
        max-width: fit-content;
    }
    .sidenav a {font-size: 18px;}
    .projects-container {
        max-width: 90%;
        align-items: center;
    }
    .project-div {
        max-width: 90%;
    }
    .project-div > a {
        display: flex;
        flex-direction: column;
    }
    .project-description-div > a > img {
        max-width: 90%;
    }
    .project-description-div {
        margin-left: 0;
        margin-top: 5px;
    }
    .technology-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .technology {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 1400px) {
    .name-div {
        max-width: 1000px;
        margin: auto;
    }
    
    #aboutme {
        max-width: 1000px;
        margin: auto;
    }
}